html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  margin-bottom: 20px;
  padding: 0;
  overflow: auto;
}

body {
  background: linear-gradient(#e7e7e7, #dddddd);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh; 
}

body.dark-mode {
  background: linear-gradient(135deg, #121212, #333333);
  background-size: cover;
  color: #e7e7e7;
  background-repeat: no-repeat;
  min-height: 100vh; 
  overflow-y: auto; 
}

body.dark-mode h1,
body.dark-mode h2 {
  color: #e7e7e7;
}

body.dark-mode .dashboard-container {
  background-color: #1e1e1e;
  color: #e7e7e7;
  box-shadow: 8px 8px 8px rgba(255, 255, 255, 0.1);
}

body.dark-mode .modal-content {
  background-color: #2c2c2c;
  color: #e7e7e7;
}

body.dark-mode .modal-content input,
body.dark-mode .modal-content textarea {
  background-color: #333;
  color: #e7e7e7;
  border: 1px solid #555;
}

body.dark-mode .modal-buttons button,
body.dark-mode .add-task-btn,
body.dark-mode .filter-buttons button {
  background-color: #004ee9;
  color: #e7e7e7;
}

body.dark-mode .modal-buttons button:hover,
body.dark-mode .add-task-btn:hover,
body.dark-mode .filter-buttons button:hover {
  background-color: #013cb0;
}

body.dark-mode .todo-list {
  background-color: #1e1e1e;
}

body.dark-mode .todo-item {
  background-color: #323232;
  color: #e7e7e7;
}

body.dark-mode .todo-item.completed .task-text {
  color: #b0b0b0;
}

body.dark-mode .task-details {
  color: lightgray;
}

body.dark-mode select,
body.dark-mode option {
  background-color: #2c2c2c;
  color: #e7e7e7;
}

body.dark-mode .filter-select {
  background-color: #333;
  color: #e7e7e7;
  border: 1px solid #555;
}

body.dark-mode .task-checkbox {
  background-color: #333;
  border-color: #555;
}

body.dark-mode .task-checkbox:checked {
  background-color: #4caf50;
  border-color: #4caf50;
}

body.dark-mode .custom-hr {
  border-color: #e7e7e7;
}

body.dark-mode .empty-board-message {
  color: #e7e7e7;
  background-color: #333333;
  border-color: #555555;
}

body.dark-mode .edit-icon:hover {
  opacity: 0.8;
  color: rgb(72, 164, 255);
  border-color: rgb(72, 164, 255);
}

body.dark-mode .remove-btn:hover {
  opacity: 0.8;
  color: rgb(255, 33, 33);
  border-color: rgb(255, 33, 33);
}


h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 2.5rem;
  font-family: 'Fraunces', serif;
  font-size: 38px;
  margin: 40px 0;
  color: rgb(0, 0, 0);
}

h2 {
  font-family: 'Fraunces', serif;
  font-size: 30px;
  margin: 20px 0;
  color: rgb(0, 0, 0);
}

.dashboard-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-title {
  font-family: 'Fraunces', serif;
  text-align: left;
  font-size: 24px;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.dashboard-divider {
  border: 0;
  height: 1px;
  background: #007bff;
  margin: 10px 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.modal-content input,
.modal-content textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: vertical; 
  overflow-y: auto; 
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-buttons button {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.modal-buttons button:hover {
  background-color: #0056b3;
}

.modal-buttons button:last-child {
  background-color: #6c757d;
}

.modal-buttons button:last-child:hover {
  background-color: #5a6268;
}

.todo-list {
  position: relative;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  padding-bottom: 80px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.add-task-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #56a8ff;
  color: white;
  font-size: 24px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-task-btn:hover {
  background-color: #489ffb;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #e0f7fa;
  border-radius: 4px;
}

.task-checkbox {
  margin-right: 10px;
}

.task-text {
  flex-grow: 1;
  margin: 2px 5px;
}

.todo-item.completed .task-text {
  text-decoration: line-through;
  color: #a0a0a0;
}


.filter-buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.empty-board-message {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2em;
  color: #808080;
  font-family: 'Poppins', sans-serif;
  padding: 10px;
  background-color: #f7f7f7;
  border: 1px dashed #ddd;
  border-radius: 10px;
}

.filter-buttons button {
  margin-right: 10px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter-buttons button:hover {
  background-color: #0056b3;
}

.filter-buttons .active-filter {
  background-color: #0056b3;
}

.task-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.task-details {
  color: gray;
  font-size: 0.8em;
  margin-top: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding-left: 10px;
}

.edit-icon, 
.remove-btn {
  background: #ffffff;
  border: 2px solid #818181;
  border-radius: 4px;
  color: #000000;
  cursor: pointer;
  font-size: 15px;
  padding: 7px;
  margin-left: 10px;
}


body.dark-mode .edit-icon,
.remove-btn {
  background: #262626;
  border: 2px solid #818181;
  border-radius: 4px;
  color: #eeeeee;
  cursor: pointer;
  font-size: 15px;
  padding: 7px;
  margin-left: 10px;
}

.edit-icon:hover {
  opacity: 0.8;
  color: blue;
  border-color: blue;
}

body.dark-mode .edit-icon:hover {
  opacity: 0.8;
  color: rgb(19, 106, 255);
  border-color: rgb(19, 106, 255);
}

.remove-btn:hover {
  opacity: 0.8;
  color: red;
  border-color: red; 
}

body.dark-mode .remove-btn:hover {
  opacity: 0.8;
  color: red;
  border-color: red; 
}

.edit-icon:active,
.remove-btn:active {
  opacity: 1;
}

.todo-item .task-checkbox {
  appearance: none;
  background-color: #fff;
  border: 2px solid #ccc;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.todo-item .task-checkbox:checked {
  background-color: #4caf50;
  border-color: #4caf50;
}

.todo-item .task-checkbox:checked::after {
  content: '\2714';
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.filter-select {
  margin: 10px 0;
  padding: 5px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.custom-hr {
  width: 97%;
  margin: 10px auto;
  border: .7px solid #000000;
  opacity: 1.0;
}

.login-page .profile-picture {
  display: none;
}

.theme-toggle-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #3b3b3b;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.theme-toggle-btn:hover {
  background-color: #363636;
}

body.dark-mode .theme-toggle-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #ffffff;
  color: #3b3b3b;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

body.dark-mode .theme-toggle-btn:hover {
  background-color: #e2e2e2;
}
